* {
  box-sizing: border-box;
  margin: auto;
}

body {
  display: flex;
}

input {
  display: flex;
  border: 1px solid #6a5c58;
  border-radius: 25px;
  height: 40px;
  width: 400px;
}

a {
  font-size: 20px;
  color: #6a5c58;
}

button {
  color: #fff;
  background: #811238;
  border-radius: 25px;
  margin-bottom: 15px;
  border: none;
  height: 40px;
  width: 400px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.container1 {
  height: 100%;
  width: 100%;
  font-family: montserrat, sans-serif;
  color: #6a5c58;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.container2 {
  height: 100vh;
  width: 100vw;
  background: #fee6e6 url(img/ice.png);
}

.sign-in {
  text-align: center;
  font-size: 36px;
}

.perks {
  text-align: center;
  font-size: 24px;
  margin-bottom: 60px;
}

.username {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  text-indent: 15px;
}

.password {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  text-indent: 15px;
}

.sign-up {
}

.forgot-password {
  margin-right: 100px;
}

.link-wrap {
  display: flex;
  flex-direction: row;
}
